
[submodule "Minecraft/.java"]
	path = Minecraft/.java
	url = https://github.com/MineFartS/JDK
	branch = 25
    ignore = all

[submodule "Plex/DBRepair"]
	path = Plex/DBRepair
	url = https://github.com/ChuckPa/DBRepair
    ignore = all
    
[submodule "AI/Ollama/.app"]
	path = AI/Ollama/.app
	url = https://github.com/MineFartS/Ollama-Embed
	branch = embed
    ignore = all

[submodule "AI/.venv"]
	path = AI/.venv
	url = https://github.com/MineFartS/Python-Embed
	branch = 3.12.10
    ignore = all

[submodule "Minecraft/Worlds"]
	path = Minecraft/Worlds
	url = https://github.com/philh-myftp-biz/Minecraft-Worlds
    ignore = all

