
# Cache
**/__pycache__/

**/__pylogs__/

# Plex Media
/Media/*
!/Media/purge.py

# Lockfile
/__lock__.ig

#==============================================================
# Add Databases

!/Plex Media Server
/Plex Media Server/*

!/Plex Media Server/Plug-in Support
/Plex Media Server/Plug-in Support/*

!/Plex Media Server/Plug-in Support/Databases/
/Plex Media Server/Plug-in Support/Databases/*

!/Plex Media Server/Plug-in Support/Databases/com.plexapp.plugins.library.db

#==============================================================

# WinTV Activation Code
/WinTV/Activation Code.txt

# HTTPS Certificate
/cert.pfx
