
# Cache
**/__pycache__/

**/__pylogs__/

# Plex Media
/Media/*
!/Media/purge.py

# Lockfile
/__lock__.ig

# PMS Files
/Plex Media Server/

# WinTV Activation Code
/WinTV/Activation Code.txt

# HTTPS Certificate
/cert.pfx
