
# Cache
**/__pycache__/

# Plex Media
/Media/

#==============================================================
# Add Databases

!/Plex Media Server
/Plex Media Server/*

!/Plex Media Server/Plug-in Support
/Plex Media Server/Plug-in Support/*

!/Plex Media Server/Plug-in Support/Databases/

#==============================================================

# WinTV10 Activation Code
/wintv activation code.txt

# HTTPS Certificate
/cert.pfx