
# Cache
**/__pycache__/
**/__pylogs__/

# HTTPS Certificates
Certificates/

# User Web Shares
/Root/Servers/FTP/User Web Shares/

# Generated Index Files
**/index.json
/Root/_/Search/search.json

# Archives
*.iso
*.zip
*.exe

# Misc
*.psd